HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### .Terraform ### 
# /Terraform/.terraform/
# /Terraform/.terraform.lock.hcl
# /Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.18.0/windows_386/terraform-provider-aws_v4.18.0_x5.exe
# Terraform/.terraform/
# Terraform/.terraform.lock.hcl
# Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.18.0/windows_386/terraform-provider-aws_v4.18.0_x5.exe
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
.terraform
Terraform/terraform.tfstate.backup
Terraform/terraform.tfstate
Terraform/.terraform.lock.hcl
Terraform/.terraform

